{% include "admin_user/headertags.html" %}

{% load static %}
<link href="{% static 'admin_user/css/gradient.css' %}" rel="stylesheet">
<div class="wrapper grass-bg">
    <!-- Sidebar -->
    {% include "admin_user/menu_side.html" %}


    <!-- Page Content -->
    <div id="content" class="bg-form-page">
        <!-- Navbar -->
        {% include "admin_user/menu_top.html" %}

        {% if messages %}
  <div class="messages">
    {% for message in messages %}
      <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">
        {{ message }}
      </div>
    {% endfor %}
  </div>
{% endif %}
  {% for ground in grounds %}
  <div class="row">
    <div class="col-lg-12 col-sm-12">
      <h1><span>Ground :</span> <span>{{ ground.6 }}</span></h1>
    </div>
    <div class="col-lg-8 mb-3 col-sm-12 d-flex align-items-center">
      <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#modalAddPitch">Add New Pitch</button>
    </div>
  </div>

  <div class="modal fade" id="modalAddPitch" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content box-bg">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Add New Pitch</h1>
          <button type="button" class="btn-close text-white" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <input type="hidden" name="ground_id" id="ground_id" value="{{ground.0}}">
          <div class="mb-3">
            <label for="formFile" class="form-label">Pitch Type</label>
            <select class="form-select" id="pitch_type" aria-label="Default select example">
              <option selected value="">Open pitch type</option>
              <option value="main">Main</option>
              <option value="practice">Practice</option>
            </select>
          </div>


        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-warning" id="btnaddpitch">Add</button>
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
  <table class="table table-bordered text-center">
    <caption class="caption-top text-center text-white bg-success py-2">Main/Center Pitches</caption>
    <tr>
      
      <th>Pitch Type</th>
      <th>Pitch No</th>
      <th>Ground Id</th>
      <th>Actions</th>
    </tr>




    {% for pitch in pitches %}
    {% if pitch.5 == "main" %}
    <tr style="text-align:center">
     
      <td class="text-capitalize"> {{ pitch.5 }}</td>
      <td>{{ pitch.4 }}</td>
      <td> {{ pitch.2 }}</td>
      <td> 
        <a href="/usr_admin/edit_pitch/{{ pitch.0 }}/{{pitch.2}}">Edit</a>
        <button class="btn btn-link text-danger ms-3" onclick="deletePitch('{{ pitch.0 }}/{{pitch.2}}')">Delete</button>
      </td>
    </tr>
    {% endif %}
    {% endfor %}


  </table>
  <table class="table table-bordered text-center mt-3">
    <caption class="caption-top text-center text-white bg-primary py-2">Practice Pitches</caption>
    <tr>
    
      <th>Pitch Type</th>
      <th>Pitch No</th>
      <th>Ground Id</th>
      <th>Actions</th>
    </tr>




    {% for pitch in pitches %}
    {% if pitch.5 == "practice" %}
    <tr style="text-align:center">
     
      <td class="text-capitalize"> {{ pitch.5 }}</td>
      <td>{{ pitch.4 }}</td>
      <td> {{ pitch.2 }}</td>
      <td> 
        
        <a href="/usr_admin/edit_pitch/{{ pitch.0 }}/{{pitch.2}}">Edit</a>
        <button class="btn btn-link text-danger ms-3" onclick="deletePitch('{{ pitch.0 }}/{{pitch.2}}')">Delete</button>

        <!-- <a class="text-danger ms-3" href="/usr_admin/delete_pitch/{{ pitch.0 }}/{{pitch.2}}">Delete</a> -->
      
      
      </td>
      
    </tr>
    {% endif %}
    {% endfor %}


  </table>
</div>
</div>


{% include "admin_user/footertags.html" %}
<script>
  $(document).ready(function () {
    $("#btnaddpitch").click(function () {
      const pitch_type = $("#pitch_type").val();
      if (pitch_type) {
        $.ajax({
          url: '{% url "add_pitch" %}',
          method: "post",
          data: { "pitch_type":pitch_type,"ground_id":$("#ground_id").val().trim()},
                 success: function (data) {
            console.log("success")
          }
        });
      }
      else {
        alert("save failed..")
      }
    })

  })


  function deletePitch(url)
  {
    if(confirm("Do you want to delete pitch?"))
  {
    location.href=`/usr_admin/delete_pitch/${url}`
  }
  }
</script>

