<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
<link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet">

<script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="https://code.jquery.com/jquery-3.7.1.slim.js"
  integrity="sha256-UgvvN8vBkgO0luPSUl2s8TIlOSYRoGFAX4jlCIm9Adc=" crossorigin="anonymous"></script>

<style>
  li a {
    font-size: 72%;
  }

  .category {
    background: grey;
    color: white !important;
    text-transform: uppercase;
  }

  .subcategory {
    text-transform: uppercase;
    background: rgb(188, 185, 185);
  }

  .item-row {
    background-color: rgb(244, 242, 242);
  }
</style>

<!-- <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
 <div class="container">
   <a class="navbar-brand" href="#" id="menu-page-title">Admin</a>
  
   <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
     <span class="navbar-toggler-icon"></span>
   </button>
  
   <div class="collapse navbar-collapse" id="navbarNav">
     <ul class="navbar-nav ms-auto">
       <li class="nav-item">
         <a class="nav-link" href="/usr_admin/orgdashboard">Dashboard</a>
       </li>
       <li class="nav-item">
         <a class="nav-link" href="/usr_admin/create_admin_user_role">Create Role</a>
       </li>
      
         <li class="nav-item dropdown">
       <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
         Ground Recording
       </a>
       <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="/usr_admin/create_ground_master">Add</a></li>
         <li><a class="dropdown-item" href="/usr_admin/ground_list">List</a></li>
       </ul>
     </li>

  <li class="nav-item dropdown">
       <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
         Daily Recording
       </a>
       <ul class="dropdown-menu">
         <li><a class="dropdown-item" href="/usr_admin/curator_daily_recording_form">Add</a></li>
         <li><a class="dropdown-item" href="/usr_admin/curator_daily_recording_list">List</a></li>
       </ul>
     </li>


      

     

       <li class="nav-item dropdown">
       <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
         Match Recording
       </a>
       <ul class="dropdown-menu">
         <li><a class="dropdown-item" href="/usr_admin/matches/insert">Add</a></li>
         <li><a class="dropdown-item" href="/usr_admin/matches">List</a></li>
       
       </ul>
     </li>

       <li class="nav-item dropdown">
       <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
         Match Scores
       </a>
       <ul class="dropdown-menu">
       <li><a class="dropdown-item" href="/usr_admin/matches">Add/List of Matches</a></li>
         <li><a class="dropdown-item" href="/usr_admin/matches">List</a></li>
       
       </ul>
     </li>




      

 <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Machinery Master
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/usr_admin/machinery/insert/">Add</a></li>
            <li><a class="dropdown-item" href="/usr_admin/machinery">List</a></li>
          </ul>
        </li>

        <li class="nav-item">
          <a class="btn btn-danger" href="{% url 'logout' %}"><i class="fas fa-logout"></i>Logout</a>
        </li>

     </ul>
   </div>
 </div>
</nav> -->



<nav id="sidebar" class="bg-dark text-white">
  <div class="sidebar-header p-3">
                <img src="https://techclassofeducation.com/logo.jpg" height="100" style="display: block;margin:auto;border-radius: 100%;">

  </div>
  <ul class="list-unstyled components p-3">
    <li class="active">
      <a href="/usr_admin/orgdashboard" id="dashboard-menu" class="d-flex align-items-center text-white text-decoration-none mb-3">
        <i class="bi bi-speedometer2 me-2"></i>
        <span>Dashboard</span>
      </a>
    </li>
    <li class="active">
      <a href="/usr_admin/create_admin_user_role"
        class="d-flex align-items-center text-white text-decoration-none mb-3">
        <i class="bi bi-speedometer2 me-2"></i>
        <span>Create Role</span>
      </a>
    </li>
    <li>
      <a href="#userSubmenu" data-bs-toggle="collapse"
        class="d-flex align-items-center text-white text-decoration-none mb-3">
        <i class="bi bi-person me-2"></i>
        <span>State and City</span>
        <i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul class="collapse list-unstyled" id="userSubmenu">
        <li>
          <a class="text-white text-decoration-none d-block py-2 ps-4" href="/usr_admin/add_state_city">Add</a>
        </li>
        <li>
          <a class="text-white text-decoration-none d-block py-2 ps-4" href="/usr_admin/list_state_city">List</a>
        </li>
      </ul>
    </li>


    <li>
      <a href="#userSubmenu2" data-bs-toggle="collapse"
        class="d-flex align-items-center text-white text-decoration-none mb-3">
        <i class="bi bi-person me-2"></i>
        <span> Ground Master</span>
        <i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul class="collapse list-unstyled" id="userSubmenu2">
        <li>
          <a class="text-white text-decoration-none d-block py-2 ps-4" href="/usr_admin/create_ground_master">Add</a>
        </li>
        <li>
          <a class="text-white text-decoration-none d-block py-2 ps-4" href="/usr_admin/ground_list">List</a>
        </li>
      </ul>
    </li>

    
    <li>
      <a href="#userSubmenu7" data-bs-toggle="collapse"
        class="d-flex align-items-center text-white text-decoration-none mb-3">
        <i class="bi bi-person me-2"></i>
        <span> Machinery Master</span>
        <i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul class="collapse list-unstyled" id="userSubmenu7">
        <li>
          <a class="text-white text-decoration-none d-block py-2 ps-4" href="/usr_admin/machinery/insert/">Add</a>
        </li>
        <li>
          <a class="text-white text-decoration-none d-block py-2 ps-4" href="/usr_admin/machinery">List</a>
        </li>
      </ul>
    </li>
    


    <li>
      <a href="#userSubmenu1" data-bs-toggle="collapse"
        class="d-flex align-items-center text-white text-decoration-none mb-3">
        <i class="bi bi-person me-2"></i>
        <span>Chemical Master</span>
        <i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul class="collapse list-unstyled" id="userSubmenu1">
        <li>
          <a class="text-white text-decoration-none d-block py-2 ps-4" href="/usr_admin/addChemical">Add</a>
        </li>
        <li>
          <a class="text-white text-decoration-none d-block py-2 ps-4" href="/usr_admin/getAllChemicals">List</a>
        </li>
      </ul>
    </li>

    <li>
      <a href="#userSubmenu3" data-bs-toggle="collapse"
        class="d-flex align-items-center text-white text-decoration-none mb-3">
        <i class="bi bi-person me-2"></i>
        <span> Daily Recording</span>
        <i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul class="collapse list-unstyled" id="userSubmenu3">
        <li>
          <a class="text-white text-decoration-none d-block py-2 ps-4"
            href="/usr_admin/curator_daily_recording_form">Add</a>
        </li>
        <li>
          <a class="text-white text-decoration-none d-block py-2 ps-4"
            href="/usr_admin/curator_daily_recording_list">List</a>
        </li>
      </ul>
    </li>

    <li>
      <a href="#userSubmenu4" data-bs-toggle="collapse"
        class="d-flex align-items-center text-white text-decoration-none mb-3">
        <i class="bi bi-person me-2"></i>
        <span> Match Recording</span>
        <i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul class="collapse list-unstyled" id="userSubmenu4">
        <li>
          <a class="text-white text-decoration-none d-block py-2 ps-4" href="/usr_admin/matches/insert">Add</a>
        </li>
        <li>
          <a class="text-white text-decoration-none d-block py-2 ps-4" href="/usr_admin/matches">List</a>
        </li>
      </ul>
    </li>

    <li>
      <a href="#userSubmenu5" data-bs-toggle="collapse"
        class="d-flex align-items-center text-white text-decoration-none mb-3">
        <i class="bi bi-person me-2"></i>
        <span> Match Scores</span>
        <i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul class="collapse list-unstyled" id="userSubmenu5">
        <li>
          <a class="text-white text-decoration-none d-block py-2 ps-4" href="/usr_admin/matches">Add/List of Matches</a>
        </li>
        <li>
          <a class="text-white text-decoration-none d-block py-2 ps-4" href="/usr_admin/matches">List</a>
        </li>
      </ul>
    </li>

    <li>
      <a href="#userSubmenu6" data-bs-toggle="collapse"
        class="d-flex align-items-center text-white text-decoration-none mb-3">
        <i class="bi bi-person me-2"></i>
        <span>Reports</span>
        <i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul class="collapse list-unstyled" id="userSubmenu6">
          <li>
                    <a class="text-white text-decoration-none d-block py-2 ps-4" href="/usr_admin/report-match/">Match Record</a>
                </li>
                <li>
                    <a class="text-white text-decoration-none d-block py-2 ps-4" href="/usr_admin/curator-daily-records">Daily Records</a>
                </li>
                <li>
                    <a class="text-white text-decoration-none d-block py-2 ps-4" href="/usr_admin/match-report">Total Match Records</a>
                </li>
                <li>
                    <a class="text-white text-decoration-none d-block py-2 ps-4" href="/usr_admin/chemicalsReport">Checmicals Report</a>
                </li>
                <li>
                    <a class="text-white text-decoration-none d-block py-2 ps-4" href="/usr_admin/machinery-report">Machineries Report</a>
                </li>
      </ul>
    </li>



</nav>


<script>
  function changeMenuTitle(title) {
    try
    {
    document.querySelector("#menu-page-title").innerHTML = title
    }
    catch(err)
    {
      console.error(err)
    }
  }







</script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>